<nav>
    <div class="nav-wrapper">
      <p class="brand-logo">{{ user.name }}</p>
      <a data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/selection">Selection</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a (click)="displayHome()">Home</a></li>
    <li><a (click)="displaySelection()">Selection</a></li>
</ul>